/*
 * #677d00 green
 * #acd373 light green
 * #00327d blue
 *
     	["my-red"] = '#b13e26';
     	["my-light-red"] = '#d38473';
       	["my-light-blue"] = '#73a7d3';
       	["my-gray"] = '#999';
       	["my-orange"] = '#e69500';
       	["my-light-orange"] = '#ffC353';

 *
 */

@font-face {
    font-family: charter;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('/css/Charter/charter_regular.woff2') format('woff2');
}

@font-face {
    font-family: charter;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    src: url('/css/Charter/charter_italic.woff2') format('woff2');
}

@font-face {
    font-family: charter;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    src: url('/css/Charter/charter_bold.woff2') format('woff2');
}

@font-face {
    font-family: charter;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    src: url('/css/Charter/charter_bold_italic.woff2') format('woff2');
}

html, body {
	margin: 0;
	
	padding: 1px 0 0 0;
	
	font-size: 5vw;
	line-height: 7vw;
	
	font-family: charter, Georgia, serif;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}

p {
	margin: 0 0 3.5vw 0;
}

article {
	 margin: 2.5vw 20px;
	 flex: 1 1 auto; 
	 
	 padding: 0 0 6vw 0;
}

.home img.photo {
	width: 40%;
	display: block;
	margin: 30px auto;
	flex: 0 0 auto;
	
	border: solid 0em #677d00;
	border-radius: 50%;
	box-shadow: 0 0 0 0 #677d00, 0 0 0 white, 0em 0em 0 0em #acd373, 0.1em 0.1em 0em 0.2em #677d00;
	
	transition: box-shadow 0s;
}

.home img.photo:focus {
	box-shadow: 0.1em 0.1em 0 0.2em #677d00, 0 0 0em 40em white, 15em -5em 0em 60em #acd373, -5em -5em 0em 120em #677d00;
	 
	transition: box-shadow 3s;
	
	outline: 0;
}

.logo {

	display: block;
	width: 4em;
	height: 4em;
	
	margin: 1em auto 0em auto;
	
	font-family: GillSansMTStd-Medium, "Gill Sans", sans-serif;
		
/* 
	position: absolute;
	top: 1em;
	left: 1em;
 */
}



.logo svg {
	margin: 0 auto;
	width: 3em;
	display: block;
	
}

.logo .name { 
	display: none;
/* 
	display: block;
	text-align: center;
	font-size: 0.8em;
	color: black;
 */
}

@media (min-width: 550px)
{
	
	#body a {
		background-size: 397px 20px;
	}

	
	html, body {
		font-size: 3.5vw;
		line-height: 5vw;
	}

}

@media (min-width: 800px)
{
	
	html, body {
		font-size: 22px;
		line-height: 33px;
	}
	
	#body p.note {
		margin: 0 auto 0 auto;
	}
	
	article {
		margin: 0.5em auto;
	 	padding: 0 0 6vw 0;	
	 }
	
	#body .content li,
	#body p, 
	#body pre, 
	#body header,
	#body ul,
	#body ol,
	#body dl,
	#body table,
	#body figure, 
	#body h1, h2, #body h3, #body h4, #body h5,
	#body blockquote,
	#body div.sample,
	#body .theorem,
	#body .proof,
	#body ul#markdown-toc
	{
		margin: 0 auto 1em auto;
		width: 660px;
	}
	
	.home img.photo {
		width: 15%;
	}

	#body aside {
		margin: 0 auto 1em auto;
		width: calc(660px - 2em);
	}

	#body aside p {
	    width: auto
	}
	
	p {
		margin: 0 0 16.5px 0;
	}
	
	#body ul.publications .year {
		display: block;
		font-size: 1em;
		position: absolute;
		top: -0.18em;
		left: -3em;
		
		height: 24px;
	}

	
	#body ul.publications li a
	{
		display: block;
		padding: 0em 0 2em 0;
	}
	
}

h1 {
	font-family: GillSansMTStd-Medium, "Gill Sans", sans-serif;
	
	font-size: 1.4rem;
	
	font-weight: normal;
	 
	text-transform: uppercase;
	margin: -0.1em auto 2vw auto;
	
	text-align: center;
}


.subh1 {

	font-family: GillSansMTStd-Medium, "Gill Sans", sans-serif;
	
	font-size: 0.9rem;
		
	text-transform: uppercase;
	margin: -1.6vw auto -0.6vw auto;
		
	color: #999;
}


#body h2 {
	font-family: GillSansMTStd-Medium, "Gill Sans", sans-serif;
	
	font-size: 1.4em;
	
	font-weight: 500;	
	 
	margin: 1em auto 1em auto;
	
}

#body h4 {

    font-size: 1em;

    font-style: italic;
}

#body h5 {
	display: inline;
}

body {
	display: flex;	
	flex-direction: column;
}

.home h1 {
	font-size: 1.6rem;
}

.home .subtitle {
	text-align: center;
	margin: 0 auto;
}

#body p.intro-text {
	max-width: 26em;
	margin: 1em auto 1em auto;
	
	text-align: justify;
}

#body p.intro-text strong {
	font-weight: normal;
	color: #677d00;
}

#body p.intro-text + p.intro-text {
	text-align: center;
}


p.note {
	margin: 0 0.5em 0 0.5em;
}


@media (min-width: 550px) {
	.subtitle {
		font-size: 1em;
	}
	
	.contact {
		font-size: 1em;
	}
}

a {
	color: #677d00;
	text-decoration: none;

	padding-bottom: 0.1em;
}

a:hover {
	text-shadow: 1px 1px #ddd;
}

#body .MathJax a {
	padding-bottom: 0.4em;
}

#body .MathJax_Display > span {
    padding: 0 2em 0 2em;
}

abbr {
	border-bottom: dotted 1px #acd373;
}

#body a:nth-of-type(2n) {
	background-position: -10px bottom;
}
#body a:nth-of-type(3n) {
	background-position: -10px bottom;
}
#body a:nth-of-type(4n) {
	background-position: -80px bottom;
}
#body a:nth-of-type(5n) {
	background-position: -40px bottom;
}

#body li:nth-of-type(2n) a {
	background-position: -100px bottom;	
}

#body li:nth-of-type(3n) a {
	background-position: -33px bottom;
}
#body li:nth-of-type(4n) a {
	background-position: -30px bottom;
}
#body li:nth-of-type(5n) a {
	background-position: -40px bottom;
}

#body p:nth-of-type(2n) a {
	background-position: -50px bottom;	
}

#body p:nth-of-type(3n) a {
	background-position: -30px bottom ;
}
#body p:nth-of-type(4n) a {
	background-position: -90px bottom;
}
#body p:nth-of-type(5n) a {
	background-position: -100px bottom;
}


p {
	
}

ul.links {
	display: table;
	text-align: center;
	margin: 1em auto 1em auto;
	padding: 0 0 0.3em 0;
	
	list-style: none;
}

#body.home h1 {
	margin-bottom: 0;
}

#body ul.links.homepage {
	margin: 0em auto 0 auto;
	padding: 0;
	font-size: 0.8em;
}


#body ul.links li {
	display: inline;
	position: static;
	padding: 0;
}

#body ul.links  li + li::before {
	content: '\00b7';
	margin: 0 0.5em 0 0.2em;
	color: #677d00;
}

#body aside {
	padding-left: 2em;
	font-style: italic;
	line-height: inherit;
	
	font-size: 0.92em;
	line-height: 1.875em;
	
	margin-bottom: 1em;
}

aside em {
	font-style: normal;
}

abbr {
	font-size: 0.9em;
	text-decoration: none;
}

figure {
	margin : 0;
	padding: 0;
}

figure.centering img {
	display: block;
	margin : 0 auto;
}

#body figure.wide {
    margin: 1em 0 1em 0;
    width: 100%;
}

#body figure.tight {
	margin-top: 0;
	margin-bottom: 1em;
}

#body figure.wide-margin {
    margin: 0 auto 1em;
    width: 90%
}

figure.narrow img{ 
    width: 660px;
}

figure.wide img,
figure.wide-margin img {
   	width: 100%;
	min-width: 200px; 
}

figure.right {
	max-width: 260px;
	float: right;
	margin-right: -220px;
	margin-left: 1em;
}

figure.right img {
	width: 100%;
}

#body figure .tile {
	width: 33%;
	min-width: 200px;
}

#body figure .tile4 {
	width: 25%;
	min-width: 200px;
}

#body figure img.tile3 {
	width: 32%;
	min-width: 200px;
}

#body figure .tile5 {
	width: 20%;
	min-width: 150px;
}

#body figure .tile2 {
	width: 50%;
	min-width: 150px;
}

#body figure .own-size {
	width: auto;
	min-width: 150px;
}

figure img.right {
	display: block;
	margin: 0 0 0 auto;
}

#body figure .half {
	width: 50%;
	min-width: 150px;
}

#body figure .three-quarters {
	width: 75%;
	min-width: 150px;
}

#body figure .two-thirds {
	width: 66.6%;
	min-width: 150px;
}

#body figure .full {
	width: 100%;
	min-width: 150px;
}

#body dl {
	padding: 0;
}

#body dl dt {
	margin: 0 1em 0 0;
	padding: 0;
	font-weight: bold;
	float: left;
}

#body dl dd {
	margin: 0;
	padding: 0;
	display: block;
	font-weight: normal;
}


figcaption {
	font-size: 0.92em;
	line-height: 1.875em;
	
	padding-left: 2em;
}

.center {
	text-align: center;
}

.phaistos {
	display: block;
	width: 30%;
	margin: 5em auto 3em auto;
}

.graphic {
	display: block;
	margin: 2em auto 3em auto;
}

.ash-graphic {
	width: 30%;
}

.mn-plot {
	width: 660px;
	
	margin: 2em auto;
}
.mn-plot img {
	width: 660px;
}

.orcid {
	background: none;
	font-size: 0.6em;
}

figure.wide svg {
	width: 100%
}

svg .node {
    fill: black;
}

svg .link {
    stroke:  #677d00;
    stroke-width: 5px;
}

svg .nodelabel {
	stroke: white;
	stroke-width: 0px;
	fill: #677d00;
	
	font-weight: bold;
	font-family: GillSansMTStd-Medium, Helvetica, sans-serif;
    text-shadow: 2px 2px white;
}

svg .edgelabel {
	font-size: 15px;
	fill: #677d00;
	baseline-shift: 60px;
	
}

svg #arrowhead {
	fill: #677d00;
}

th {
	text-align: left;
}

blockquote {
	padding: 0 0 0 4em;
	font-family: GillSansMTStd-Medium, "Gill Sans", sans-serif;
	font-size: 0.8em;

}

table.level td strong {
	color: #677d00;
}

table.level td span + strong, 
table.level td strong + strong{
	color: #00327d;
}

table.closed .hidable {
	display: none;
}

table.expandable caption {
	display: block;
	width: 100%;
	text-align: right;
 }
 
table.expandable.open .open-link,
table.expandable.closed .close-link {
 	display: none;
 }
 
table.expandable.closed .open-link,
table.expandable.open .close-link {
 	display: block;
 }
 
div#footer {
	border-bottom: solid 1px black;	width: 660px;
	margin: 0 auto 2em auto;
} 

div#footer .tag {
	display: none;
}

div#footer #timestamp {
	display: block;
	text-align: right;
	font-size: 0.66em;
}

.qed {
	display: block;
	float: right;
}

.qed::before {
	color: #bbb;
	content: "□";
}

/* colors */
 .gc { color: #677d00 }
.lgc { color: #acd373 }
 .rc { color: #b13e26 }
.lrc { color: #d38473 }
 .bc { color: #306693 }
.lbc { color: #73a7d3 }
 .kc { color: #999 } 
 .oc { color: #E69500}

/* .loc { color:  } */


#body div.gc { 
	display: block;
}

#body code {
	font-size:0.8em;
	
	font-family: Consolas, monospace
}


article ul {
	list-style: none;
	padding: 0;
}

article ul li::before {
	content: "\2022";
	color: #677d00;
	position: absolute;
	width: 2em;
	left: 0em;
	text-align: right;
}

article ul li {
	list-style: none;
	position: relative;
	padding-left: 3em;
}

article ol {
	list-style: none;
	padding: 0;
	counter-reset: ol-counter;
}

article ol li {
	list-style: none;
	position: relative;
	padding-left: 3em;

	counter-increment:ol-counter;
}

article ol li::before {
	content: counter(ol-counter) '.';
	color: #677d00;
	position: absolute;
	width: 2em;
	left: 0em;
	text-align: right;
}

article ul.links li::before,
article ul.authors li::before  {
	content: none;
	position: static;
}



code highlighting
#body .hljs {
	background: white;
	padding: 0;
	color: black;
}

#body .hljs-title { color: #b13e26 }

#body .hljs-literal { color: #677d00 }

#body .hljs-string { color: #306693 }

#body .hljs-comment {color: #999 }

#body .hljs-number { color: #d38473 }

div.sample 
{
	font-family: Consolas, monospace;
	font-size: 0.8em;

}

#body div.theorem 
{
	position: relative;
	left: -4px;
	
	margin: 0 auto 0 auto;
	padding: 0 1em;
	
	border-bottom: solid 1px transparent;
	border-left: solid 4px #677d00;

}

#body div.theorem strong.title,
#body div.theorem h5 {
	color: #677d00;
	font-size: 1em;
}

#body div.theorem.proof-omitted
{
	border-bottom: none;
	margin-bottom: 1em;
}


#body div.theorem.false
{
	border-left: solid 4px #b13e26;

}

#body div.theorem.false strong.title,
#body div.theorem.false h5 {
	color: #b13e26;
	display: inline;
}

#body div.proof 
{
	position: relative;
	left: -4px;

	margin: -1px auto 1em auto;
	padding: 0 1em;
	
	border-left: solid 4px #bbb;

}

.proof::after { /* Clear the QED symbol. */
  content: "";
  display: block;
  clear: both;
}

#body div.proof strong.title,
#body div.proof h5
{
	color: #bbb;
	font-size: 1em;
	display: inline;
}

#body div.proof h5,
#body div.theorem h5
{
	float: left;
	width: max-content;
	margin: 0;
	padding: 0 1em 0 0;
}


.proof-section {
	text-transform: uppercase;
	font-size: 0.65em;
}

.prel {
	font-family: GillSansMTStd-Medium, "Gill Sans", sans-serif;


	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	
	position: relative;
	top: -1em;
}

.prel:before{
	content: '—';
}

.prel + ul {
	display: inline;
	list-style: none;
	
	position: relative;
	top: -1em;
}

.prel + ul li {
	display: inline;
	list-style: none;
	padding: 0;
	margin: 0;
}

.prel + ul li:before {
	content: none;
}

.prel + ul li + li:before {
	content: ', ';
	position: static;
	width: auto;
	display: inline;
	margin-left: -0.25em;
	color: black;
}


.home article {

}

.home article section {
	display: flex;
	flex-flow: row wrap;
	
	justify-content: center;
	
	width: 100%;
}

#body.home article p {
	width: 100%;
	font-size: 0.8em;
	
	font-family: GillSansMTStd-Medium, "Gill Sans", sans-serif;
	margin-top: -1em
}

#body.home article p span {
	display: block;
	width: 660px;
	margin: 0 auto 0 auto;
}


.home ul.links {
	width: 100%;
	margin: 0;
	text-transform: lowercase;
}

#body.home h2 {
	text-align: center;
/* 
	border-bottom: dotted black 1px;
 */
 	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.06);
	text-transform: uppercase;
	font-size: 0.8em;
	margin-bottom: 1.5em;
}

#body.home h3 {
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 400;
}

#body.home h1, #body.home h2, #body.home h3 {
	width: 100%;
	
}

.home section div {
	width: 160px;
	margin: 0 1em 0 1em;
}

#body.home section div ul {
	display: block;
	list-style: none;
	width: 100%;
}

#body.home section div li {
	display: block;
	padding: 0;
	
	width: 100%;
	margin-bottom: 0.3em;
	
	font-size: 0.8em;
	line-height: 1.1em;

}

#body.home section div li::before {
	content: none;
}

ul#markdown-toc 
{

	margin: 0 0 2em 0;
	padding: 1em 0 0 0;
	list-style: none;
	
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	
}

ul#markdown-toc li  
{
	margin: 0;
	padding: 0;
	list-style: none;
}

ul#markdown-toc li::before {
	content: none;
	
}

ul#markdown-toc ul {

}
ul#markdown-toc  li li {
	margin-left: 1em;
}

/**
 * Syntax highlighting
 */

code .k, code .ow {
    font-weight: bold;
    color: #00327d;
}

code .c1, code .c2{
    font-style: italic;
    color: #999;
}

.algorithm .pseudocode .sb {
     color: #677d00;
     font-weight: bold;
}

/**
 * Algorithm tabs
 */

.hidden {
    display: none;
}

.algorithm {
    margin-bottom: 1em;
}

#body .algorithm h3 {
    font-size: 0.81em;
    color: #aaa;
    margin-bottom: 0.3em;
}

.algorithm section.inactive {
    display: none;
}

.algorithm button {
    background: none;
    border: solid 1px transparent;
    padding: 0.1em 0.5em 0.4em 0.5em;
    cursor: pointer;
    font-weight: 500;

    color: black;

    font-family: 'Georgia', serif;
	font-size: 17px;
	line-height: 27px;

    margin-bottom: -1px;
}

.algorithm .tabs {
    border-bottom: solid #ccc 1px;
    padding-left: 0.5em;
}

.algorithm button.inactive {

    background: transparent;

}

.algorithm button.active {
    border: solid 1px #ccc;
    border-bottom: solid 1px #eee;

    background: #eee;

}

.algorithm section {
    padding: 1em;
    background: #eee;

    font-size: 0.81em;
}